.card {
    height: 23rem;
    width: 20rem;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #84a6e9;
    padding-top: 10px;
  }

  .card-title {
    margin-bottom: 10px;
    font-size: 1.3rem;
    text-decoration: none;
    display: inline-block;
  }
  .card-title:hover {
    cursor: pointer;
  }

  .card-body {
    margin: 0px 10px;
    padding-top: 0px;
    font-size: smaller;
  }
  
  .picture {
    height: 14rem;
  width: 14rem;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 45px;
  }
  .picture:hover {
    cursor: pointer;
  }
  