.pagNumber {
    list-style: none;
    display: flex;
}
.pagNumber li{
    padding: 5px;
    border: 1px solid black;
    cursor: pointer; 
};
.DivPag{
    display: flex;
    justify-content: center;
    align-items: center;
}