.about {
  position:absolute;
  right: 0px;
  top: 170px;
  width: 73rem;
  height: 30rem;
  margin: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: burlywood;
  padding-top: 10px;
}