.Nav {
    position:sticky;
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid black;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 150px;
    width: auto;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-around;
};

.subNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.box {
    margin: 20px;
    padding: 20px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}

/* font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #454A59; */
    /* font-family: 'Russo One', sans-serif; */
    /* color: #23293B; */